.minus-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
	height: var(--spacing-m);
	width: var(--spacing-m);
	padding: 0 !important;
	background-color: var(--et-orange);
}
.minus-btn::before {
	content: "";
	position: absolute;
	display: block;
	height: 5%;
	width: 50%;
	background-color: var(--black);
}
.minus-btn:hover {
	background-color: var(--black);
}
.minus-btn:hover::before {
	background-color: var(--et-orange);
}
